* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
}

.canvas {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.bg-canvas {
  position: absolute;

}

.f-canvas {
  position: absolute;
  z-index: 6;
}

.menu {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  background-color: black;

  font: "30px Arial";
  font: 30px Arial;
  -webkit-text-stroke: 1px white;
  /* closest to strokeStyle */
  text-shadow:
    0 0 10px white,
    0 0 10px white;
}

.menu.end {
  background-color: transparent;
}

.hidden {
  display: none;
}

.parent-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  height: 100%;
}

.ui-combo {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  z-index: 11;
  padding: 30px;

  font: "30px Arial";
  font: 30px Arial;
  -webkit-text-stroke: 1px white;
  /* closest to strokeStyle */
  text-shadow:
    0 0 10px white,
    0 0 10px white;
}

.menu button {
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.empty-canvas {
  position: absolute;
  z-index: 7;
}

.tx-canvas {
  position: absolute;
  z-index: 3;
}